*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.wrap{
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.section {
    background-image: url(imgs/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header {
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background: rgba(16, 16, 29, 0.90);
        &__wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 33.5px;
            padding-bottom: 31.5px;
        }

		&__logo {
            font-family: 'Raleway', sans-serif;
            font-size: 28px;
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
		}

		&__nav {
            display: flex;
            justify-content: space-between;
            gap: 60px;
            @media (max-width: 735px){
                gap: 20px;
            }
		}

		&__link {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            &:hover{
                transition: .3s;
                text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.844);
            }
            &_blue{
                color: #42A9ED;
                &:hover{
                    transition: .3s;
                    text-shadow: 0px 0px 10px #42a8edca;
                }
            }
		}
    }
    .desc {
        padding: 100px 0 203px;
        display: flex;
        flex-direction: column;
        gap: 80px;
            &__title {
                margin-top: 103px;
                font-size: 48px;
                font-weight: 700;
                text-transform: uppercase;
                max-width: 780px;
            }

            &__txt {
                color: #000;
                font-size: 20px;
                font-weight: 700;
                & > p{
                    margin-bottom: 10px;
                }
                & > ul{
                    font-weight: 400;
                    padding-left: 15px;
                    & > li{
                        list-style-type: "- ";
                        margin-bottom: 5px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &__btns {
                display: flex;
                gap: 30px;
                .btns {
                    &__order {
                        color: #FFF;
                        border-radius: 4px;
                        border: 1px solid #FFF;
                        background: #3E9CDC;
                        &:hover{
                            transition: .3s;
                            background: #218cd3;
                        }
                    }
            
                    &__more {
                        color: #000;
                        border-radius: 4px;
                        border: 1px solid #6F6D7B;
                        background: #FFF;
                        &:hover{
                            transition: .3s;
                            background: rgba(230, 229, 229, 0.432);
                        }
                    }
            }
            
        }
    }
}
.content {
    background: url(imgs/bg__main.png), #272733  50% / cover no-repeat;
    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    &__header {
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    &__title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__txt {
        color: #BBB;
        font-size: 18px;
        font-weight: 400;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        position: relative;
        z-index: 1;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        & > svg{
            width: 55px;
            height: 55px;
        }
        & > p{
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            max-width: 190px;
        }
        &_after{
            position: relative;
            &::after{
                content: url(imgs/points.svg);
                position: absolute;
                top: 50%;
                width: 110px;
                height: 6px;
                transform: translate(12px, -50%);
            }
        }
    }

    &__form {
        text-align: center;
        margin-bottom: 150px;
        .form {
            padding-bottom: 150px;
            &__info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 40px;
                margin-bottom: 30px;
                & > input::-moz-placeholder, > input::-webkit-input-placeholder{
                    color: #272733;
                    font-size: 18px;
                }
                & > input::-webkit-input-placeholder{
                    color: #272733;
                    font-size: 18px;
                }
            }

            &__elems{
                flex-basis: calc((100% - 80px) / 3);
                padding: 12px 0 12px 10px;
                border-radius: 3px;
                border: 1px solid #FFF;
                background: rgba(255, 255, 255, 0.85);
                color: #272733;
                font-size: 18px;
            }


        
            &__loading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 55px;
                & > label{
                    padding: 12px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    border: 2px solid #3E9CDC;
                    background: #FFF;
                    flex-basis: calc((100% - 80px) / 3 );
                    text-transform: uppercase;
                    font-size: 15px;
                    color: #272733;
                    & > svg{
                        margin-right: 10px;
                    }
                    & > input{
                        visibility: hidden;
                        position: absolute;
                    }
                }
            }
        }
        .loading-bar {
            flex-basis: calc((100% - 40px) / 3 * 2 );;
            &__txt {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #fff;
                font-size: 18px;
                margin-bottom: 19px;

            }
        
            &__line {
                width: 100%;
                height: 6px;
                background-color: rgba(255, 255, 255, 0.70);
                border-radius: 5px;
            }
        }
        & > button{
            border-radius: 4px;
            border: 1px solid #FFF;
            background: #3E9CDC;
            color: #fff;
            font-size: 15px;
            padding: 15px 0;
            width: calc((100% - 80px) / 3 );
        }
    }
    
}
.footer {
    background: #3D4050;
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: #FFF;
        font-size: 13px;
        padding-top: 30px;
        padding-bottom: 30px;
        & > a{
            color: #FFF;
            display: flex;
            align-items: center;
        }
        & svg{
            margin-right: 10px;
        }

    }
    &__line{
        width: 1px;
        height: 18px;
        background-color: #C3C3C3;
    }
    &__elems{
        display: flex;
        align-items: center;
    }
}


.btn {
    font-size: 13px;
    font-weight: 400;
    padding: 15px 50px;
}
.blue{
    color: #42A9ED;
}
